* {
	margin: 0;
	padding: 0;
}
#navBar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	box-shadow: 0px 0px 5px 0px #000000;
	.navButtons {
		display: flex;
		justify-content: center;
		align-items: center;
		.navButton {
			
			box-shadow: inset 0px 1px 0px 0px #276873;
			background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
			background-color: #599bb3;
			border-radius: 3px;
			border: 1px solid #29668f;
			display: inline-block;
			cursor: pointer;
			color: #ffffff;
			font-family: Arial;
			font-size: 13px;
			padding: 6px 24px;
			text-decoration: none;
			text-shadow: 0px 1px 0px #3d768a;
		}
		.navButton:hover {
			background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
			background-color: #408c99;
		}
		.navButton:active {
			position: relative;
			top: 1px;
		}
	}
}
.horizontalNavBar {
	width: 100%;
	height: 70px;
	align-items: center;
	justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
	.navButtons {
		flex-direction: row;
	}
}
.verticalNavBar {
	width: 150px;
	height: 250px;
	align-items: center;
	justify-content: space-around;
    flex-direction: column;
    padding: 20px 0;
	.navButtons {
		width: 100%;
		flex-direction: column;
        .navButton {
            margin: 10px 0;
        }
	}
}
#landing {
	width: 100%;
	height: 100vh;
}
.section {
	border-top: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: row;
	height: 50vh;
	.sidebar {
		width: 150px;
		position: relative;
		float: left;
		top: 0px;
		bottom: 0px;
		border-right: 1px solid black;
	}
	.sectionContent {
		width: calc(100% - 150px);
	}
}
