@import url("https://fonts.googleapis.com/css?family=Roboto:100");
$details-color: #fbea2c;
* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
body::-webkit-scrollbar {
	width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: $details-color; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: black; /* color of the scroll thumb */
	border-radius: 20px; /* roundness of the scroll thumb */
	border: 3px solid trasnparent; /* creates padding around scroll thumb */
}
body {
	background-image: url("../assets/Storyboard_Render/Storyboard_Texture_v02.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #dfe0e2;
}
.container {
	background-size: 300px;
	background-repeat: no-repeat;
	background-position: left bottom;
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-direction: row;
	overflow: hidden;
	.sidePanel {
		height: 100%;
		width: 200px;
		display: flex;
		justify-content: start;
		align-items: center;
		flex-direction: column;
		#navBar {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: space-between;
			box-sizing: border-box;
			flex-direction: column;
			padding-top: 40px;
			margin-bottom: 40px;
			.navButtons {
				display: flex;
				justify-content: center;
				align-items: center;
				list-style-type: none;
				margin-top: 40px;
				flex-direction: column;
				.button {
					display: flex;
					justify-content: center;
					align-items: end;
					flex-direction: column;
					margin: 2px 0;
					img {
						width: 175px;
						margin: 0 5px;
					}
				}
			}
		}
		a {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
.content {
	width: 100%;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	p {
		padding: 40px;
	}
	.header {
		width: 100%;
		display: flex;
		justify-content: end;
		align-items: center;
		margin-top: 40px;
	}
	.project {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-image: url("../assets/Storyboard_Render/Storyboard_Box_Content_v02.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right top;
		padding: 20px;
		margin: 20px;
		.projectDescription {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			height: 150px;
			.description {
				background-image: url("../assets/CMonkey_render/Cmonkey_textBox_top_in_box_v02.png");
				background-size: cover;
				background-repeat: no-repeat;
				background-position: right top;
				padding: 20px;
				height: calc(100% - 40px);
			}
		}
		video {
			width: 560px;
			height: 349px;
			background-color: black;
		}
	}
	.last {
		margin-bottom: 250px;
	}
	.projectImages {
		width: 100%;
		background-color: white;
		display: grid;
		gap: 2px;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		padding: 2px;
		img {
			width: 100%;
		}
	}
}
#contact {
	width: 100%;
	background-image: url("../assets/Frontpage_Renders/Button_V02.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; 
	.firstRow {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		.contactInfo {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row
		}
		.socialMedia {
			img {
				width: 50px;
			}
		}
	}
	.secondRow {
		margin-top:100px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		a {
			color: black
		}
	}
}
